//====================================================================================================
.header {
	&__wrapper {
	}
	&._no-transform {
		.header__wrapper {
			animation: none !important;
			transform: none !important;
		}
	}
	&._header-scroll {
		.header__wrapper {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 100;
		}
	}
	&._header-animate {
		.header__wrapper {
			animation: slideInDown 0.8s linear forwards;
		}
	}
	&._header-animated {
		.header__wrapper {
			transform: none;
		}
	}
}
.menu-mobile-up,
.menu-mobile-down {
	display: none;
	opacity: 0;
	.menu-open & {
		display: block;
		animation: opacity 0.5s linear forwards;
	}
}
//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		flex: 0 0 rem(30);
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - rem(1));
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - rem(1));
			}
		}
	}
}
*/
